%header#HeaderMain
	// %input.ButtonNavigation.ButtonNavigationOpen.PositionerLeft{ :type => "button", :onclick => "navigationPanel()" }

	%h1.PositionerLeft Formula Configurator

	// %input.ButtonLogout.PositionerRight{ :type => "button", :onclick => "navigationSlide()" }
