!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_productconfigurator_formulaheader.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			/* ---- INITIALIZE ---- */

			/* FOR JSON FORMULA */
			
			var JSONFormulaFromURL = [];
			var JSONFormulaRAWDummy = JSON.parse(JSONFormula);
			var JSONFormulaProductDummy = JSONFormulaRAWDummy.si;
			var JSONFormulaSectionDummy = JSONFilterContentByKey(JSONFormulaProductDummy, "productKey", "unitlink", "productContent", "productState");
			var JSONFormulaContentDummy = JSONFormulaSectionDummy.formula;
			
			/* FOR JSON INPUT */

			var JSONInputFromURL = [];
			var JSONInputRAWDummy = JSON.parse(JSONInput);
			var JSONInputProductDummy = JSONInputRAWDummy.si;
			var JSONInputContentDummy = JSONFilterContentByKey(JSONInputProductDummy, "productKey", "unitlink", "productContent", "productState");

			var JSONFormulaCurrent;
			var JSONInputKey;
			var JSONInputSection;
			var JSONInputResultSection;
			var JSONInputResultKey;


			// file:///Users/ibrahimaziztejokusumo/Documents/Project/Website/BCALMPOS-ProductConfigurator/Page/HTML/page_productconfigurator_formulatemporary.html?stringProductName=Unitlink&JSONFormula={"formulaKey":"FormulaBasicInsurancePremium","formulaText":"Premium","formulaContent":"NumberBasicInsurancePreferredPremium,+,NumberBasicInsuranceRegularTopUp,*,ConstantBasicInsurancePremium","inputKey":"NumberBasicInsurancePremium","formulaState":"true"}&JSONInput=[{"inputKey":"SelectFormulaConfiguratorInputSection","inputType":"select","inputPlaceholder":"Policyholder,Prospective Insured,Basic Insurance,Money Allocation,Additional Insurance","inputValue":"policyholder,prospectiveinsured,basicinsurance,moneyallocation,additionalinsurance","inputState":""},{"inputKey":"SelectFormulaConfiguratorInputKey","inputType":"select","inputPlaceholder":"NumberPolicyholderAge,RadioButtonPolicyholderSex,NumberProspectiveInsuredAge,RadioButtonProspectiveInsuredSex,NumberBasicInsurancePreferredPremium,NumberBasicInsuranceRegularTopUp,NumberBasicInsurancePremium,NumberMoneyAllocationAshmoreProtection,NumberMoneyAllocationAshmoreEquity,NumberAdditionalInsuranceSumAssured,NumberAdditionalInsuranceTerm","inputValue":"NumberPolicyholderAge,RadioButtonPolicyholderSex,NumberProspectiveInsuredAge,RadioButtonProspectiveInsuredSex,NumberBasicInsurancePreferredPremium,NumberBasicInsuranceRegularTopUp,NumberBasicInsurancePremium,NumberMoneyAllocationAshmoreProtection,NumberMoneyAllocationAshmoreEquity,NumberAdditionalInsuranceSumAssured,NumberAdditionalInsuranceTerm","inputState":""},{"inputKey":"SelectFormulaConfiguratorInputResultSection","inputType":"select","inputPlaceholder":"Policyholder,Prospective Insured,Basic Insurance,Money Allocation,Additional Insurance","inputValue":"policyholder,prospectiveinsured,basicinsurance,moneyallocation,additionalinsurance","inputState":""},{"inputKey":"SelectFormulaConfiguratorInputResultKey","inputType":"select","inputPlaceholder":"NumberPolicyholderAge,RadioButtonPolicyholderSex,NumberProspectiveInsuredAge,RadioButtonProspectiveInsuredSex,NumberBasicInsurancePreferredPremium,NumberBasicInsuranceRegularTopUp,NumberBasicInsurancePremium,NumberMoneyAllocationAshmoreProtection,NumberMoneyAllocationAshmoreEquity,NumberAdditionalInsuranceSumAssured,NumberAdditionalInsuranceTerm","inputValue":"NumberPolicyholderAge,RadioButtonPolicyholderSex,NumberProspectiveInsuredAge,RadioButtonProspectiveInsuredSex,NumberBasicInsurancePreferredPremium,NumberBasicInsuranceRegularTopUp,NumberBasicInsurancePremium,NumberMoneyAllocationAshmoreProtection,NumberMoneyAllocationAshmoreEquity,NumberAdditionalInsuranceSumAssured,NumberAdditionalInsuranceTerm","inputState":""},{"inputKey":"SelectFormulaConfiguratorOperatorKey","inputType":"select","inputPlaceholder":"+,-,*,/,(,)","inputValue":"+,-,*,/,(,)","inputState":""},{"inputKey":"SelectFormulaConfiguratorFormulaState","inputType":"select","inputPlaceholder":"Active,Not Active,Pending","inputValue":"true,false,pending","inputState":"required|true"}]

			// READY

			$(document).ready(function()
			{
				/* GET BY JSON */

				JSONFormulaFromURL = getJSONFromURL("JSONFormula", JSONFormulaContentDummy[2]);
				JSONInputFromURL = getJSONFromURL("JSONInput", JSONInputContentDummy);

				/* GENERATE VALUE */

				// console.log(arrayObjectCoveredPerson);
				// generateSelectOption("SelectFormulaConfiguratorParameterType", arrayObjectParameterType);
				generateSelectOption("SelectProductConfiguratorCoveredPerson", arrayObjectCoveredPerson);
				generateSelectOption("SelectProductConfiguratorBasicPlan", arrayObjectBasicPlan);
				generateSelectOptionByJSONInput(JSONInputFromURL);
				JSONInputSection = generateJSONSelectOptionByJSONInput(JSONInputFromURL, "SelectFormulaConfiguratorInputSection");
				JSONInputKey = generateJSONSelectOptionByJSONInput(JSONInputFromURL, "SelectFormulaConfiguratorInputKey");
				JSONInputResultSection = generateJSONSelectOptionByJSONInput(JSONInputFromURL, "SelectFormulaConfiguratorInputResultSection");
				JSONInputResultKey = generateJSONSelectOptionByJSONInput(JSONInputFromURL, "SelectFormulaConfiguratorInputResultKey");


				/* SETTER BY JSON */

				setGeneralTextForm("TextFormulaConfiguratorFormulaKey", JSONFormulaFromURL.formulaKey);
				setGeneralTextForm("TextFormulaConfiguratorFormulaText", JSONFormulaFromURL.formulaText);
				setGeneralSelectForm("SelectFormulaConfiguratorInputResultSection", getInfix(releasePrefix(JSONFormulaFromURL.inputKey)).toLowerCase());
				setGeneralSelectForm("SelectFormulaConfiguratorInputResultKey", JSONFormulaFromURL.inputKey);
				setGeneralSelectForm("SelectFormulaConfiguratorFormulaState", JSONFormulaFromURL.formulaState);
				$("#SpanHeaderFormula, #TitleHeaderFormula").text(JSONFormulaFromURL.formulaText);
				$("#SpanHeaderProduct, #TitleHeaderProduct").text(getURLParameter().stringProductName);
				// formulaTemporaryContentGenerator(JSONFormulaFromURL.formulaContent, "FormulaContent");


				/* USER INTERFACE */

				$("main").css("border-top-color", "#D24B19");
				$("h1").text("Formula Configurator");
				setContentHeightBasedOnScreen("HeaderMain", "MainContent");
				$("nav, #Content").css("height", $(window).height());

				$(function()
				{
				    $("#FormulaContent").sortable(
				    {
				        update: function()
				        {
				           JSONFormulaFromURL.formulaContent = getFormulaContentFromLayout("FormulaContent");
				           formulaVerificator("FormulaContent");
				        }
				    });

				    $("#FormulaContent").disableSelection();
			  	});
			});


	/ BODY

	%body#Configurator

		/ NAVIGATION

		-# = Haml::Engine.new(File.read("navigation_slide_general.haml")).render

		/ CONTENT

		%div#ContentContainer

			%div#Content

				/ HEADER

				= Haml::Engine.new(File.read("header_productconfigurator_general.haml")).render

				/ ASIDE

				-# = Haml::Engine.new(File.read("aside_directory_formula.haml")).render

				/ MAIN

				%main#MainContent.FullScreen
					%h2.PositionerLeft
						%span#SpanHeaderProduct{ "data-product-key" => "" } Unitlink
						%span#SpanHeaderSeparator | |
						%span#SpanHeaderFormula{ "data-formula-key" => "" } Formula Name
					// %input.ButtonAddSecondary.ButtonDetached.PositionerRight{ :type => "button", :value => "Add New Parameter", :onclick => "popUpToggle('Curtain', 'PopUpParameter')" }
					%br

					// %div#FormulaContent.FormulaMainContainer

					%form#FormFormulaGeneral
						%fieldset#FieldsetFormulaGeneral
							%table.Full.Borderless.Spacing.Margin
								%thead
									%tr.Center
										%th.PositionerLeft Formula 
								%tbody
									%tr
										%td
											%label{ :for => "SelectProductConfiguratorCoveredPerson" } Covered Person 
										%td.Center
											%select#SelectProductConfiguratorCoveredPerson.Medium
					
										%td.Center
										%td.Center
											%input#ButtonSaveMyChoice.ButtonPrimary{ :type => "button", :value => "Insert" }
									%tr
										%td
											%label{ :for => "SelectProductConfiguratorBasicPlan" } Basic Plan
										%td.Center
											%select#SelectProductConfiguratorBasicPlan.Medium
												
										%td.Center
										%td.Center
											%input#ButtonSaveMyChoice.ButtonPrimary{ :type => "button", :value => "Insert" }
									%tr
										%td
											%label{ :for => "SelectProductConfiguratorInputResultSection" } Rider
										%td.Center
											%select#SelectProductConfiguratorBasicPlan.Medium
												%option{ :value => "EntryAge" }  Code
										%td.Center
											%select#SelectProductConfiguratorBasicPlan.Medium
												%option{ :value => "EntryAge" }  @Code
												%option{ :value => "EntryAge" }  @RSA
												%option{ :value => "EntryAge" }  @Term
												%option{ :value => "EntryAge" }  @Premi%
												%option{ :value => "EntryAge" }  @Premi%_Term
												%option{ :value => "EntryAge" }  @PremiMIL
												%option{ :value => "EntryAge" }  @PremiMIL_Term
										%td.Center
											%input#ButtonSaveMyChoice.ButtonPrimary{ :type => "button", :value => "Insert" }
									%tr
										%td
											%label{ :for => "SelectProductConfiguratorInputResultKey" } Fund
										%td.Center
											%select#SelectProductConfiguratorBasicPlan.Medium
												%option{ :value => "EntryAge" }  Code
												%option{ :value => "EntryAge" }  Investment Rate
												%option{ :value => "EntryAge" }  Investment Return
										%td.Center
											%select#SelectProductConfiguratorBasicPlan.Medium
												%option{ :value => "EntryAge" }  @Code
												%option{ :value => "EntryAge" }  @InvRate_Single
												%option{ :value => "EntryAge" }  @InvRate_Yearly
												%option{ :value => "EntryAge" }  @InvRate_SemiAnn
												%option{ :value => "EntryAge" }  @InvRate_Quarterly
												%option{ :value => "EntryAge" }  @InvRate_Monthly
												%option{ :value => "EntryAge" }  @High
												%option{ :value => "EntryAge" }  @Medium
												%option{ :value => "EntryAge" }  @Low
										%td.Center
											%input#ButtonSaveMyChoice.ButtonPrimary{ :type => "button", :value => "Insert" }
									%tr
										%td
											%label{ :for => "SelectProductConfiguratorFormulaState" } Master Table
										%td.Center
											%select#SelectProductConfiguratorBasicPlan.Medium
												%option{ :value => "EntryAge" }  Payment Mode
												%option{ :value => "EntryAge" }  Channel
												%option{ :value => "EntryAge" }  Occupation
										%td.Center
											%select#SelectProductConfiguratorBasicPlan.Medium
												%option{ :value => "EntryAge" }  @Code
												%option{ :value => "EntryAge" }  @Code
												%option{ :value => "EntryAge" }  @Code
												%option{ :value => "EntryAge" }  @OccClass
										%td.Center
											%input#ButtonSaveMyChoice.ButtonPrimary{ :type => "button", :value => "Insert" }
									%tr
										%td
											%label{ :for => "SelectFormulaConfiguratorOperatorKey" } Expression
										%td.Center
											%select#SelectFormulaConfiguratorOperatorKey.Medium

										%td.Center
										%td.Center
											%input#ButtonSaveMyChoice.ButtonPrimary{ :type => "button", :value => "Insert" }
									%tr
										%td
											%label{ :for => "SelectProductConfiguratorFormulaState" } Rates ID
										%td.Center
											%select#SelectProductConfiguratorBasicPlan.Medium
												%option{ :value => "" }   
										%td.Center		
										%td.Center
											%input#ButtonSaveMyChoice.ButtonPrimary{ :type => "button", :value => "Insert" }
									%tr
										%td{ :colspan => "4" }
											%textarea#AreaPotentialDiscussionActionDifferent.Full{ :onpaste => "return false;", :onchange => "filterInputWhitespace(this.id)", :style => "width: 1200px;" }
					%div.ButtonContainer.Right
						%input.ButtonAddSecondary.ButtonAttached{ :type => "button", :value => "Save", :onclick => "formulaTemporarySave(JSONFormulaFromURL, 'http://localhost:3883/InternalHandler.ashx?JSONFormula=')" }
						%input.ButtonCancelSecondary.ButtonAttached{ :type => "button", :value => "Cancel", :onclick => "formulaTemporaryCancel(getJSONFromURL('JSONFormula', JSONFormulaContentDummy[2]), 'http://localhost:3883/InternalHandler.ashx?JSONFormula=')" }

			/ MAIN CURTAIN

			%div#CurtainMain{ :onclick => "navigationPanel()" }