/* @charset "utf-8"; */
/* CSS Document */


/* FUNCTION */

=borderRadius($radius)
	border-radius: $radius
	-ms-border-radius: $radius
	-moz-border-radius: $radius
	-webkit-border-radius: $radius

=BorderRadius-Top($radius)
	border-top-left-radius: $radius
	-ms-border-top-left-radius: $radius
	-moz-border-top-left-radius: $radius
	-webkit-border-top-left-radius: $radius
	border-top-right-radius: $radius
	-ms-border-top-right-radius: $radius
	-moz-border-top-right-radius: $radius
	-webkit-border-top-right-radius: $radius

=BorderRadius-TopLeft($radius)
	border-top-left-radius: $radius
	-ms-border-top-left-radius: $radius
	-moz-border-top-left-radius: $radius
	-webkit-border-top-left-radius: $radius

=BorderRadius-TopRight($radius)
	border-top-right-radius: $radius
	-ms-border-top-right-radius: $radius
	-moz-border-top-right-radius: $radius
	-webkit-border-top-right-radius: $radius

=BorderRadius-Right($radius)
	border-top-right-radius: $radius
	-ms-border-top-right-radius: $radius
	-moz-border-top-right-radius: $radius
	-webkit-border-top-right-radius: $radius
	border-bottom-right-radius: $radius
	-ms-border-bottom-right-radius: $radius
	-moz-border-bottom-right-radius: $radius
	-webkit-border-bottom-right-radius: $radius

=BorderRadius-Left($radius)
	border-top-left-radius: $radius
	-ms-border-top-left-radius: $radius
	-moz-border-top-left-radius: $radius
	-webkit-border-top-left-radius: $radius
	border-bottom-left-radius: $radius
	-ms-border-bottom-left-radius: $radius
	-moz-border-bottom-left-radius: $radius
	-webkit-border-bottom-left-radius: $radius

=BorderRadius-Bottom($radius)
	border-bottom-left-radius: $radius
	-ms-border-bottom-left-radius: $radius
	-moz-border-bottom-left-radius: $radius
	-webkit-border-bottom-left-radius: $radius
	border-bottom-right-radius: $radius
	-ms-border-bottom-right-radius: $radius
	-moz-border-bottom-right-radius: $radius
	-webkit-border-bottom-right-radius: $radius

=BorderRadius-BottomLeft($radius)
	border-bottom-left-radius: $radius
	-ms-border-bottom-left-radius: $radius
	-moz-border-bottom-left-radius: $radius
	-webkit-border-bottom-left-radius: $radius

=BorderRadius-BottomRight($radius)
	border-bottom-right-radius: $radius
	-ms-border-bottom-right-radius: $radius
	-moz-border-bottom-right-radius: $radius
	-webkit-border-bottom-right-radius: $radius

=Transition($property, $duration, $movement)
	transition: ($property) ($duration) ($movement)
	-ms-transition: ($property) ($duration) ($movement)
	-moz-transition: ($property) ($duration) ($movement)
	-o-transition: ($property) ($duration) ($movement)
	-webkit-transition: ($property) ($duration) ($movement)

=Perspective($value)
	perspective: $value
	-ms-perspective: $value
	-moz-perspective: $value
	-o-perspective: $value
	-webkit-perspective: $value

=BackfaceVisibility($state)
	backface-visibility: ($state)
	-ms-backface-visibility: ($state)
	-moz-backface-visibility: ($state)
	-o-backface-visibility: ($state)
	-webkit-backface-visibility: ($state)

=Rotate-X($rotateX)
	transform: rotateX($rotateX)
	-ms-transform: rotateX($rotateX)
	-moz-transform: rotateX($rotateX)
	-o-transform: rotateX($rotateX)
	-webkit-transform: rotateX($rotateX)

=Rotate-Y($rotateY)
	transform: rotateY($rotateY)
	-ms-transform: rotateY($rotateY)
	-moz-transform: rotateY($rotateY)
	-o-transform: rotateY($rotateY)
	-webkit-transform: rotateY($rotateY)

=Rotate-Z($rotateZ)
	transform: rotateZ($rotateZ)
	-ms-transform: rotateZ($rotateZ)
	-moz-transform: rotateZ($rotateZ)
	-o-transform: rotateZ($rotateZ)
	-webkit-transform: rotateZ($rotateZ)

=SlideEffect($rotateY, $translateX, $translateZ)
	transform: rotateY($rotateY) translateX($translateX) translateZ($translateZ)
	-ms-transform: rotateY($rotateY) translateX($translateX) translateZ($translateZ)
	-moz-transform: rotateY($rotateY) translateX($translateX) translateZ($translateZ)
	-o-transform: rotateY($rotateY) translateX($translateX) translateZ($translateZ)
	-webkit-transform: rotateY($rotateY) translateX($translateX) translateZ($translateZ)

=boxShadow($offsetX, $offsetY, $blurr, $spread, $color)
	box-shadow: $offsetX $offsetY $blurr $spread $color
	-ms-box-shadow: $offsetX $offsetY $blurr $spread $color
	-o-box-shadow: $offsetX $offsetY $blurr $spread $color
	-moz-box-shadow: $offsetX $offsetY $blurr $spread $color
	-webkit-box-shadow: $offsetX $offsetY $blurr $spread $color

=Skew($skewX, $skewY)
	transform: skew($skewX, $skewY)
	-ms-transform: skew($skewX, $skewY)
	-moz-transform: skew($skewX, $skewY)
	-o-transform: skew($skewX, $skewY)
	-webkit-transform: skew($skewX, $skewY)

=Scale-3D($scaleX, $scaleY, $scaleZ)
	transform: scale3d($scaleX, $scaleY, $scaleZ)
	-ms-transform: scale3d($scaleX, $scaleY, $scaleZ)
	-moz-transform: scale3d($scaleX, $scaleY, $scaleZ)
	-o-transform: scale3d($scaleX, $scaleY, $scaleZ)
	-webkit-transform: scale3d($scaleX, $scaleY, $scaleZ)

=appearance($state)
	appearance: $state
	-ms-appearance: $state
	-moz-appearance: $state
	-o-appearance: $state
	-webkit-appearance: $state

=LayoutGradient($gradient_from_color, $gradient_fromR_color, $gradient_fromG_color, $gradient_fromB_color, $gradient_to_color, $gradient_toR_color, $gradient_toG_color, $gradient_toB_color)
	/* IE 10 */
	background: -ms-linear-gradient(bottom, $gradient_from_color, $gradient_to_color)
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, $gradient_from_color, $gradient_to_color)
	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, $gradient_from_color, $gradient_to_color)
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($gradient_from_color), to($gradient_to_color))
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, $gradient_from_color, $gradient_to_color)
	/* Android Built In Browser Below 4.0, Chrome, Safari 4+  */
	// background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(100%, $gradient_from_color), color-stop(0%, $gradient_to_color))
	// background:-webkit-gradient(linear, left top, left bottom, color-stop(100%, $gradient_from_color), color-stop(0%, $gradient_to_color))
	/* Android 2.2, 2.3, 3.0 */
	background: -webkit-linear-gradient(90deg,rgb($gradient_fromR_color, $gradient_fromG_color, $gradient_fromB_color),rgb($gradient_toR_color, $gradient_toG_color, $gradient_toB_color))
	background: linear-gradient(0deg,rgb($gradient_fromR_color, $gradient_fromG_color, $gradient_fromB_color),rgb($gradient_toR_color, $gradient_toG_color, $gradient_toB_color))
	/* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background: -webkit-linear-gradient(bottom, $gradient_from_color, $gradient_to_color)
	/* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	background: linear-gradient(to top, $gradient_from_color, $gradient_to_color)
	-pie-background: linear-gradient($gradient_from_color, $gradient_to_color)

=BackgroundFilter($filterName, $filterValue)
	filter: $filterName + unquote(#{$filterValue})
	-ms-filter: $filterName + unquote('(#{$filterValue})')
	-moz-filter: $filterName + unquote('(#{$filterValue})')
	-o-filter: $filterName + unquote('(#{$filterValue})')
	-webkit-filter: $filterName + unquote('(#{$filterValue})')

=OpacityFilter($filterValue)
	opacity: $filterValue
	filter: alpha(opacity = $filterValue)
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = $filterValue)"


/* ANIMATION */

=Animation($animationName, $animationDuration, $animationDelay, $animationIteration)
	animation: $animationName $animationDuration $animationDelay $animationIteration
	-ms-animation: $animationName $animationDuration $animationDelay $animationIteration
	-moz-animation: $animationName $animationDuration $animationDelay $animationIteration
	-o-animation: $animationName $animationDuration $animationDelay $animationIteration
	-webkit-animation: $animationName $animationDuration $animationDelay $animationIteration
	-skrollr-animation-name: $animationName

=Animation-State($animationState)
	animation: $animationState
	-ms-animation: $animationState
	-moz-animation: $animationState
	-o-animation: $animationState
	-webkit-animation: $animationState
