/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* FUNCTION */
/* ANIMATION */
/* SPACE */
/* SIZE */
/* LAYOUT */
/* RADIO */
/* HEADER */
/* SPAN */
/* LABEL */
/* INPUT */
/* BUTTON */
/* LIST */
/* LINK */
/* RESOURCE */
/* TYPEFACE */
header h1 {
  font-size: 14pt;
  line-height: 52px;
}

aside ul.DirectoryProduct {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

aside ul.DirectoryProduct li.ListProduct:before, aside ul.DirectoryProduct li.ListSection:before {
  position: relative;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background-color: #D24B19;
  content: "";
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

aside ul.DirectoryProduct li.ListProduct {
  margin: 0px;
  height: 24px;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;
  font-size: 13pt;
  line-height: 24px;
}

aside ul.DirectoryProduct li.ListProduct ul.DirectorySection {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding: 0px;
  list-style-type: none;
}

aside ul.DirectoryProduct li.ListProduct ul.DirectorySection li.ListSection:before {
  background-color: #FF7846;
  border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

aside ul.DirectoryProduct li.ListProduct ul.DirectorySection li.ListSection {
  margin-left: 20px;
  height: 18px;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  font-size: 11pt;
  line-height: 18px;
}

nav header .NavigationHeaderContainer h2 {
  font-size: 14pt;
  text-align: left;
}

nav header .SpanProfileHeader {
  font-size: 18pt;
}

nav header .SpanProfileName {
  font-size: 14pt;
}

nav header .NavigationHeaderButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav header .NavigationHeaderButton a {
  font-size: 10pt;
}

nav .NavigationList {
  padding-left: 20px;
  padding-right: 20px;
}

nav .NavigationList ul.NavigationSection {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

nav .NavigationList ul.NavigationSection li {
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  line-height: 48px;
  list-style-type: none;
  font-size: 12pt;
}

nav .NavigationList ul.NavigationSection li ul.NavigationItem {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

nav .NavigationList ul.NavigationSection li ul.NavigationItem li {
  margin: 0px;
  line-height: 48px;
  list-style-type: none;
  font-size: 12pt;
}

nav .NavigationList ul.NavigationSection li ul.NavigationItem li img {
  float: left;
  margin-right: 20px;
  height: 48px;
  width: 36px;
  background-size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

main h2 span {
  font-size: 14pt;
  line-height: 52px;
}

form fieldset hgroup {
  margin-top: 10px;
  margin-bottom: 10px;
}

form fieldset hgroup h3 {
  font-size: 14pt;
}

form fieldset hgroup h4 {
  font-size: 12pt;
}

form fieldset hgroup:first-of-type {
  margin-top: 0px;
}

form fieldset label {
  margin: 5px;
  min-height: 28px;
  min-width: 200px;
  line-height: 32px;
  font-size: 12pt;
  vertical-align: middle;
  display: inline-block;
}

.PopUp hgroup {
  text-align: left;
}

.PopUp hgroup h3 {
  font-size: 14pt;
}

.PopUp hgroup h4 {
  font-size: 12pt;
}

.FormulaContainer .SpanFormulaHeader, .FormulaContainer .SpanFormulaDetail {
  display: block;
}

.FormulaContainer .SpanFormulaHeader {
  font-size: 12pt;
}

.FormulaContainer .SpanFormulaDetail {
  font-size: 12pt;
}
