/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* FUNCTION */
/* ANIMATION */
/* SPACE */
/* SIZE */
/* LAYOUT */
/* RADIO */
/* HEADER */
/* SPAN */
/* LABEL */
/* INPUT */
/* BUTTON */
/* LIST */
/* LINK */
/* RESOURCE */
/* TYPEFACE */
/* ASIDE */
aside label, aside span, aside input, aside textarea, aside select, aside table, aside ul, aside li {
  font-family: "HelveticaNeue_Light";
}

/* NAVIGATION */
nav header .NavigationHeaderContainer h2 {
  font-family: "HelveticaNeue_Regular";
}

nav header .SpanProfileHeader {
  font-family: "HelveticaNeue_Bold";
}

nav header .SpanProfileDetail {
  font-family: "HelveticaNeue_Light";
}

nav header .NavigationHeaderButton a {
  font-family: "HelveticaNeue_Light";
}

nav .NavigationList ul.NavigationSection li {
  font-family: "HelveticaNeue_Bold";
}

nav .NavigationList ul.NavigationSection li ul.NavigationItem li {
  font-family: "HelveticaNeue_Light";
}

/* FORM */
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue_Bold";
}

h2 span {
  font-family: "HelveticaNeue_Bold";
}

label, span, input, textarea, select, table {
  font-family: "HelveticaNeue_Regular";
}

form fieldset hgroup h3, form fieldset.FieldsetContainer hgroup h3 {
  font-family: "HelveticaNeue_Bold";
}

form fieldset hgroup h4, form fieldset.FieldsetContainer hgroup h4 {
  font-family: "HelveticaNeue_Light";
}

form fieldset .QuestionContainer hgroup h4, form fieldset.FieldsetContainer .QuestionContainer hgroup h4 {
  font-family: "HelveticaNeue_Bold";
}

form fieldset .QuestionContainer hgroup h5, form fieldset.FieldsetContainer .QuestionContainer hgroup h5 {
  font-family: "HelveticaNeue_Light";
}

form fieldset .QuestionContainer .InputContainer hgroup h5, form fieldset.FieldsetContainer .QuestionContainer .InputContainer hgroup h5 {
  font-family: "HelveticaNeue_Bold";
}

form fieldset .QuestionContainer .InputContainer hgroup h6, form fieldset.FieldsetContainer .QuestionContainer .InputContainer hgroup h6 {
  font-family: "HelveticaNeue_Light";
}

.FormulaContainer .SpanFormulaHeader {
  font-family: "HelveticaNeue_Bold";
}

.FormulaContainer .SpanFormulaDetail {
  font-family: "HelveticaNeue_Light";
}

/* LINK */
input[type=button] {
  font-family: "HelveticaNeue_Light";
}
